[user]
	name = Guilherme Monteiro de Oliveira
	email = guilherme@monteiroliveira.com
[core]
    abbrev = 12
[init]
	defaultBranch = master
[alias]
    clonebare = !$HOME/.local/bin/clbare
	tree = log --graph --decorate --oneline --abbrev-commit --all
	llog = log --oneline
	bb = !$HOME/.local/bin/btrbranch
	wdiff = diff --word-diff
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = guilherme@monteiroliveira.com
    from = Guilherme Monteiro de Oliveira <guilherme@monteiroliveira.com>
[rerere]
	enabled = true
[credential]
    helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
