[user]
	name = Guilherme Monteiro de Oliveira
	email = guilherme@monteiroliveira.com
	signingkey = /home/guilherme/.ssh/id_ed25519.pub
[gpg]
    format = ssh
[alias]
    clonebare = !$HOME/.local/bin/clbare
	tree = log --graph --decorate --oneline --abbrev-commit --all
	log = log --oneline
	bb = !$HOME/.local/bin/btrbranch
	wdiff = diff --word-diff
[rerere]
	enabled = true
