[user]
	name = Guilherme Monteiro de Oliveira
	email = guilherme@monteiroliveira.com
[alias]
    clonebare = !$HOME/.local/bin/clbare
	tree = log --graph --decorate --oneline --abbrev-commit --all
	llog = log --oneline
	bb = !$HOME/.local/bin/btrbranch
	wdiff = diff --word-diff
[rerere]
	enabled = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
